.scrollMain {
  padding: 70vh 2vw 0vh;
}

.scrollText {
  /* flex-basis: 35%; */
  bottom: 100px;
}

.scrollGraphic {
  position: sticky;
  flex-basis: 60%;
  align-self: flex-start;
  padding: 0rem 0;
  top: 200px;
}

.scrollStep {
  margin: 100vh 0 0vh;
  border: 1px solid gray;
}